# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Plan files
*.tfplan
plan.out

# Secrets/local vars
*.auto.tfvars
*.auto.tfvars.json
secrets.tfvars
terraform.tfvars.local

# Editors / OS
.DS_Store
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

# Temp
*.tmp
